<footer class="footer">
  <div class="container">
    <span class="text-muted"><span class="copyleft">&copy;</span> Pedro Manuel Gómez-Portillo</span>
    <span class="text-muted left-aligned"">2019</span>
  </div>
</footer>
